* {
  font-family: 'Fira Sans', sans-serif;
  scroll-behavior: smooth;
}

h2 {
  color: var(--bs-secondary-text-emphasis);
  text-align: center;
}

h3 {
  color: var(--bs-secondary-text-emphasis);
}

h4 {
  color: var(--bs-primary-text-emphasis);
}

#toc {
  align-content: flex-start;
  top: 20px;
}

.border-main {
  border-left: 1px solid var(--bs-primary-text-emphasis);
}

.logo {
  width: 5rem;
  height: 5rem;
}

.podzag {
  border-bottom: 1px solid var(--bs-dark-text-emphasis);
}

@media (max-width: 1300px) {
  .scrollspy {
    display: none;
  }
}