* {
  font-family: 'Fira Sans', sans-serif;
  scroll-behavior: smooth;
}

h2 {
  color: var(--bs-secondary-text-emphasis);
  text-align: center;
}

h3 {
  color: var(--bs-secondary-text-emphasis);
}

h4 {
  color: var(--bs-primary-text-emphasis);
}

.navbar .container-fluid {
  justify-content: space-evenly;
}

.offcanvas.offcanvas-end {
  width: 200px;
}

main {
  margin-top: 12rem;
  min-height: 70vh;
}

#toc {
  align-content: flex-start;
  top: 200px;
}

.border-main {
  border-left: 1px solid var(--bs-primary-text-emphasis);
}

.logo {
  width: 5rem;
  height: 5rem;
}

.podzag {
  border-bottom: 1px solid var(--bs-dark-text-emphasis);
}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: none;
  width: 15rem;
  height: 15rem;
}

.map-link {
  display: none;
}

@media (max-width: 1300px) {
  .scrollspy {
    display: none;
  }

  .img-magnifier-container {
    display: none;
  }

  .map-link {
    display: flex;
  }

  .alert-warning {
    display: none;
  }
}

@media (max-width: 600px) {
  .col-4 {
    display: none !important;
  }

  .col-8 {
    width: 100%;
    ;
  }
}